[data-frz-id="9x4p5zxumym"] { background-color: rgb(255, 255, 255) !important; background-image: url('https://cdn.prod.website-files.com/6822faf7b267d2a617501351/6837e09cc71f9243c1c9c1f3_Section%20Hero.png') !important; background-position: 50% 0px !important; background-size: contain !important; }

[data-frz-id="gizgos6dhl7"] { z-index: 2 !important; }

[data-frz-id="51jz0541gi9"],
[data-frz-id="f2ojp9raltr"],
[data-frz-id="qxioantqxof"],
[data-frz-id="mmajps6vilc"],
[data-frz-id="p36zwm2w18"],
[data-frz-id="yhw27l8tr2"],
[data-frz-id="xz65a5e1aua"],
[data-frz-id="26siooezcfq"],
[data-frz-id="iqqs4iddh7a"] { color: rgb(255, 255, 255) !important; }

[data-frz-id="mar2e7skcnl"],
[data-frz-id="5ptz8z9jen2"],
[data-frz-id="kxf7swe02g9"] { opacity: 1 !important; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important; transform-style: preserve-3d !important; overflow: hidden !important; }

[data-frz-id="uw1na8913q"],
[data-frz-id="egiqev4vacd"],
[data-frz-id="1gs2h296awq"],
[data-frz-id="n75e4hba27j"],
[data-frz-id="u4ydgri4u4"],
[data-frz-id="w3f7f5r6c3g"],
[data-frz-id="xj5oag1y5u"],
[data-frz-id="vgav9lklnyb"],
[data-frz-id="3txl2glkxtd"],
[data-frz-id="fafeqrobcg"] { overflow: hidden !important; }

[data-frz-id="fzxwaxupgrm"],
[data-frz-id="jyi84rffccs"] { mask-type: luminance !important; }

[data-frz-id="jmp61arm2ym"] { opacity: 1 !important; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important; transform-style: preserve-3d !important; }

[data-frz-id="vxr3sjxprj"] { opacity: 1 !important; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important; transform-style: preserve-3d !important; color: rgb(97, 97, 97) !important; }

[data-frz-id="2976o55w966"] { opacity: 0.4706 !important; }

[data-frz-id="u1xc9f2toa9"] { transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important; transform-style: preserve-3d !important; }

[data-frz-id="qsgtvw13iq"],
[data-frz-id="g696r6ddbs"] { background-color: rgb(25, 25, 25) !important; }

[data-frz-id="om8qzkz8s2"] { will-change: transform !important; transform: translate3d(0vw, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important; transform-style: preserve-3d !important; }

[data-frz-id="7nid8eovigm"],
[data-frz-id="7wefzqu2anr"],
[data-frz-id="qlml3ch7qh"],
[data-frz-id="5owcgwgmrtp"],
[data-frz-id="o67fkkxc85"] { filter: brightness(100%) !important; }

[data-frz-id="63dvko5y80r"],
[data-frz-id="yt8q9wwxque"],
[data-frz-id="np4lh78s85i"],
[data-frz-id="7qznz9zbrrp"],
[data-frz-id="59gmzih3hfs"],
[data-frz-id="jr8h3mgzqv"],
[data-frz-id="y7dzmyo7sx8"],
[data-frz-id="evk62cxrz5"],
[data-frz-id="socc4d3m0x9"],
[data-frz-id="5kf35sxcos7"],
[data-frz-id="ifvsms3ui9s"],
[data-frz-id="frb0kf81a3"],
[data-frz-id="2uyjsj06a2x"],
[data-frz-id="t7lpl8096xn"],
[data-frz-id="n35b9898pd"],
[data-frz-id="gvkd72c9hgg"],
[data-frz-id="er0mn2g18d4"],
[data-frz-id="5eu4fjujx43"] { opacity: 0 !important; }

[data-frz-id="6w87k2gpdb5"],
[data-frz-id="6l76bj6bdx6"],
[data-frz-id="ej3sr9o2bu"],
[data-frz-id="w05dlbqzosb"],
[data-frz-id="olo6ptbivgr"],
[data-frz-id="o1m48tso7yc"],
[data-frz-id="ecaod4ajbs"],
[data-frz-id="ulos9jq973t"],
[data-frz-id="c67he2n8oh9"] { color: rgb(189, 189, 189) !important; }

[data-frz-id="2soybpx4ygm"] { background-color: rgb(25, 25, 25) !important; color: rgb(242, 242, 242) !important; overflow: hidden !important; }

[data-frz-id="sijqgnor02"],
[data-frz-id="d9m1zpwl676"],
[data-frz-id="y16sdfgnbpm"],
[data-frz-id="m4ade8c141l"] { will-change: transform !important; transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important; transform-style: preserve-3d !important; background-color: rgb(97, 97, 97) !important; }

[data-frz-id="km1iysbhh5n"],
[data-frz-id="74dqq45em4v"] { will-change: filter, opacity, transform !important; filter: blur(0px) !important; opacity: 0 !important; transform: translate3d(0px, 0px, 0px) scale3d(1.5, 1.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important; transform-style: preserve-3d !important; }

[data-frz-id="2fuzextisn2"],
[data-frz-id="aqzemazjbs7"],
[data-frz-id="w5jyto83umq"],
[data-frz-id="y3fn8ryfdmc"],
[data-frz-id="ncb8pz4rm2k"],
[data-frz-id="qis7pbzmn8"],
[data-frz-id="dzmp3gsgo1a"],
[data-frz-id="gqy4lvl7skt"],
[data-frz-id="ogj9givur4q"],
[data-frz-id="14i8lrlvhjl"],
[data-frz-id="un1jm6cod1q"],
[data-frz-id="ox38rrnnf7c"],
[data-frz-id="6h8sy4n2m89"],
[data-frz-id="ft5j6x138q"],
[data-frz-id="ev18u0j57aq"],
[data-frz-id="eyl5xkn4nl4"] { color: rgb(158, 158, 158) !important; }

[data-frz-id="fsw7exlqilu"] { will-change: opacity, transform !important; opacity: 0 !important; transform: translate3d(0px, 0px, 0px) scale3d(1.5, 1.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important; transform-style: preserve-3d !important; }

[data-frz-id="rbesh13oona"] { background-color: rgb(242, 242, 242) !important; z-index: 1 !important; }

[data-frz-id="yv5mno84qjs"] { color: rgb(25, 25, 25) !important; }

[data-frz-id="d7cgwu668t"],
[data-frz-id="mx0hzwfrkwe"] { will-change: opacity !important; opacity: 1 !important; }

[data-frz-id="21qh4jcbn31"],
[data-frz-id="hety3882q1q"],
[data-frz-id="p5r44czk9hd"],
[data-frz-id="59upwd0k449"],
[data-frz-id="4v73ikbejcf"],
[data-frz-id="ynmd04zi4f"],
[data-frz-id="d5sbmrep0p"],
[data-frz-id="gmyphjb2td5"] { will-change: opacity !important; opacity: 0 !important; }

[data-frz-id="giy1k47yldl"] { will-change: transform !important; transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important; transform-style: preserve-3d !important; color: rgb(255, 255, 255) !important; }

[data-frz-id="olofdtttccp"],
[data-frz-id="ybhzt4kmbi"] { background-image: url('https://cdn.prod.website-files.com/6822faf7b267d2a617501351/6822faf7b267d2a617501367_Testimony%201%20-%20Background.webp') !important; background-position: 0px 0px !important; background-size: cover !important; }

[data-frz-id="tzre3jd7acf"],
[data-frz-id="pyr4396ojkn"] { background-image: url('https://cdn.prod.website-files.com/6822faf7b267d2a617501351/6822faf7b267d2a617501368_Testimony%202%20-%20Background.webp') !important; background-position: 0px 0px !important; background-size: cover !important; }

[data-frz-id="hm3xa0trpd"] { background-image: url('https://cdn.prod.website-files.com/6822faf7b267d2a617501351/6822faf7b267d2a617501369_Testimony%203%20-%20Background.webp') !important; background-position: 0px 0px !important; background-size: cover !important; }

[data-frz-id="r4x60xt7w2"] { background-image: url("https://cdn.prod.website-files.com/6822faf7b267d2a617501351/683517cf42874f1fa9295ab6_Mask%20group%20(1).png") !important; background-position: 0px 0px !important; background-size: cover !important; color: rgb(255, 255, 255) !important; overflow: hidden !important; }

[data-frz-id="n8rrknzxrwe"],
[data-frz-id="o277e77dbvm"],
[data-frz-id="3khry7cv513"],
[data-frz-id="0cmoqmjjaxa"],
[data-frz-id="3bk0e92n7xx"],
[data-frz-id="7t3j80tu2v7"],
[data-frz-id="it6kyhh4db9"],
[data-frz-id="7dj96onmhn3"],
[data-frz-id="19ut55t38q"],
[data-frz-id="iyt1bbnols"],
[data-frz-id="5b55kw8ghf2"],
[data-frz-id="z2au3v0rodh"],
[data-frz-id="4393gym2lub"] { opacity: 0.2 !important; overflow: hidden !important; }

[data-frz-id="ggbxxf3k6kc"] { opacity: 0 !important; color: rgb(158, 158, 158) !important; }

[data-frz-id="lxn7sbai2x"] { opacity: 0 !important; color: rgb(97, 97, 97) !important; }

[data-frz-id="rpg7ejdtivd"] { transform: translate3d(41.8657%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important; transform-style: preserve-3d !important; will-change: transform !important; }

[data-frz-id="ciuembbp1b8"] { color: rgb(117, 117, 117) !important; }

[data-frz-id="7p7rfv5xsu5"] { opacity: 1 !important; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important; transform-style: preserve-3d !important; background-color: rgb(0, 28, 243) !important; border-color: rgba(0, 0, 0, 0) !important; color: rgb(255, 255, 255) !important; overflow: hidden !important; z-index: 100 !important; }

[data-frz-id="cafa5cqej69"],
[data-frz-id="x0234k76egb"] { z-index: 1 !important; }

[data-frz-id="rbpm7vmm51r"] { opacity: 0 !important; transform: translate3d(7.49895vw, 3.00042vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important; transform-style: preserve-3d !important; background-color: rgb(2, 2, 2) !important; z-index: 0 !important; }